{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>{{ object.title }}</h1>
<div style="display: flex; gap: 2rem;">
    {% with img_path='images/'|add:object.id|add:'.jpeg' %}
        <img src="{% static img_path %}" alt="{{ object.title }}" style="max-width:400px; border-radius:16px;">
    {% endwith %}
    <div>
        <p><strong>Цена:</strong> {{ object.price }} руб.</p>
        <p><strong>Адрес:</strong> {{ object.address }}</p>
        <p><strong>Площадь:</strong> {{ object.area }} м²</p>
        <p><strong>Комнат:</strong> {{ object.rooms }}</p>
        <p>{{ object.description }}</p>
    </div>
</div>
{% endblock %}